
.timeline-header {
  padding: 1.5rem 1.25rem;

  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid #ebeef0;

  font-weight: 700;
  font-size: 1.25rem;
} 

.timeline-header svg {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--twitter-blue);
}